---
import Layout from '../../layouts/Layout.astro';

const availableBooks = [
  {
    id: 1, 
    name: 'Nanak Prakash'
  }
]
---

<Layout title="Gurpratap Suraj: Suraj Prakash Granth - Written by Kavi Santokh Singh.">
  <div>
    <h2 class="text-3xl font-serif text-zinc-900 italic font-medium py-4">
      All Books
    </h2>
    <p>The Suraj Prakash is carefully divided into 22 books.</p>
  </div>
</Layout>